@CHARSET "UTF-8";


.center 
{				
	width: 100%;
}

.logoff
{
	float: right;
}

.jumbotron
{
	background-color: green;
	color: black;
}

.table-responsive
{
	width: 100%;
}

.table-responsive thead
{
	top-padding: 20px;
}